.attribution {
    font-size: 20px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100px; */
    margin: 0;
}
marquee{
    margin: 10px;
    animation: move;
}
.container{
    width: 800px;;
    /* height:500px; */
    background-color:#ffffff;
    border-radius:15px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-left: 300px;
    margin-top:100px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: start;
    margin-bottom: 20px;
    color: rgb(66, 63, 63);
    padding-right: 500px;
}
/*  */
.form-group {
    margin-bottom: 15px;
}
/*  */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/*  */
.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.heaven{
    /* background-color:red; */
    width: 310px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 191, 191);
    border-radius: 5px;
    display: flex;
    justify-content:start;
    gap: 10px;
    align-items: start;
    /* padding-left: 100px; */
    padding-top: 10px;
    cursor: pointer;
}
.heven{
    /* background-color:red; */
    width: 310px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 191, 191);
    border-radius: 5px;
    display: flex;
    justify-content:start;
    gap: 10px;
    align-items: start;
    /* padding-left: 100px; */
    padding-top: 10px;
    cursor: pointer;
}
.checkbox-group {
    display: flex;
    /* align-items: center; */
    display: flex;
    justify-content:start;
    gap: 5px;
    align-items: start;
}

.checkbox-group input {
    align-items: start;
    /* margin-left: 5px; */
    cursor:pointer;
    
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00695c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #004d40;
}
#names{
    display: flex;
    flex-direction: row;
    gap: 100px;
    /* align-content: space-between; */
    /* justify-content: space-between; */
    /* padding: 15px; */
}
#names input{
    width: 290px;
}
#last-name{
    align-items:end;
}

.form-group input[type="email"],
.form-group textarea {
    width: 700px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#first-name:hover{
    border-color: #004d40;
}
#last-name:hover{
    border-color: #004d40;
}
#email:hover{
    border-color: #004d40;
}
#general-enquiry:hover{
    border-color: #004d40;
}
.heaven:hover{
    border-color: #004d40;
}
.heven:hover{
    border-color: #004d40;
}

.form-group input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.alert{
    color:red;
    display: none;
}


.success{
    background-color: #2a4244;
    color: white;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 10px;
    left: 45%;
    width: 200px;
    gap: 5px;
    padding: 10px;

    /* width: 500px;
    height: 700px;
    padding: 20px; */
    
    /* margin: 100px; */
}
.tick{
    fill: #00695c;
}